body {
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#errors {
	background-color: #fcc;
}

section {
	margin-top: 35px;
	margin-bottom: 20px;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: avoid;
}
section .main {
	/* font-size: 22px; */
	margin: auto;
	width: 70%;
}
section .more {
	padding-left: 50px;
}
section h2 {
	font-size: 3em;
}
section h1, section h2 {
	font-weight: normal;
}

section .lower {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
section .lower_left div, section .lower_right div {
	font-size: 18px;
	padding: 10px;
}
